table {
	border-collapse: collapse; 
	font-family: arial; 
	padding:4px 4px 4px 4px;
	width:100%;
	text-align:left;
	font-size:1em;
}

td {
    width:auto;
	border-top:2px solid #660066;
	border-bottom:2px solid #660066;
	padding:4px 4px 4px 4px;
}

th { 
	text-align: left;
	padding:4px 4px 4px 4px;
	background-color:#660066;
	color:#ffffff;
}

tr.alt td {
	color:#000000;
	background-color:#B280B2;
}

body{
	font-family: arial black;
	font-size: 0.8em;
}

input, button {
	font-family: arial black;
}

.maintabdiv {
   display:inline-block;
   overflow:hidden;
   width:100%;
   float:left;
}

.container {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
}

.searchbar {
   display:inline-block;
   overflow:hidden;
   padding: auto;
}

.tabdataeven-wide {
   overflow:hidden;
   padding:4px 4px 4px 4px;
   border: 1px solid #660066; 
   min-height: 100%;
   height: 100%;   
}

.tabdataeven-narrow {
   overflow:hidden;
   padding:4px 4px 4px 4px;
   border: 1px solid #660066; 
   min-height: 100%;
   height: 100%;
}

.tabdataodd-wide {
   overflow:hidden;
   padding:4px 4px 4px 4px;
   border: 1px solid #660066;
   background-color: #B280B2;
   min-height: 100%;
   height: 100%;
}

.tabdataodd-narrow {
   overflow:hidden;
   padding:4px 4px 4px 4px;
   border: 1px solid #660066;
   background-color: #B280B2;
   min-height: 100%;
   height: 100%;
}

.tabdataheader-wide{
   overflow:hidden;
   padding:4px 4px 4px 4px;
   border: 3px solid #660066;
   background-color: #B280B2;
   min-height: 100%;
}

.tabdataheader-narrow{
   overflow:hidden;
   padding:4px 4px 4px 4px;
   border: 3px solid #660066;
   background-color: #B280B2;
   min-height: 100%;
}

.tabrow {
   display:inline-block;
   overflow:hidden;
   width:99%;
   border: 3px solid #660066;
   word-wrap: normal;
   height: 100%;
}

.formdiv{
float:left;
}